/* ==========================================
   LEGAL
========================================== */

.legal {

    max-width: 900px;

    margin: auto;

    padding: 5rem 0;

}

.legal article {

    margin-bottom: 3rem;

}

.legal h2 {

    margin-top: 2rem;

}

.legal ul {

    list-style: disc;

    padding-left: 1.5rem;

}

.legal li {

    margin-bottom: .8rem;

}