/* ==========================================
   PROFILE
========================================== */

.profile {

    display: grid;

    grid-template-columns: 320px 1fr;

    gap: 2rem;

}

.profile-sidebar {

    background: var(--white);

    padding: 2rem;

    border-radius: var(--radius-lg);

}

.profile-avatar {

    width: 140px;

    height: 140px;

    border-radius: 50%;

    margin: auto;

    object-fit: cover;

}

.profile-menu {

    margin-top: 2rem;

}

.profile-menu a {

    display: block;

    padding: 1rem;

    border-radius: var(--radius-md);

}

.profile-menu a:hover,
.profile-menu a.active {

    background: var(--primary);

    color: var(--white);

}

.profile-content {

    background: var(--white);

    padding: 2rem;

    border-radius: var(--radius-lg);

}