/* ==========================================
   TABLES
========================================== */

.table-wrapper {
    overflow-x: auto;
}

table {
    width: 100%;
    background: var(--white);
}

thead {
    background: var(--primary);
    color: var(--white);
}

th,
td {
    padding: 1rem;
    text-align: left;
}

tbody tr {
    border-bottom: 1px solid var(--border);
}

tbody tr:hover {
    background: var(--primary-extra-light);
}