/* Box Model */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root */

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

/* Body */

body {
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Media */

img,
picture,
svg,
video,
canvas {
    display: block;
    max-width: 100%;
}

/* Form Elements */

input,
button,
textarea,
select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
}

/* Buttons */

button {
    cursor: pointer;
}

/* Links */

a {
    text-decoration: none;
    color: inherit;
}

/* Lists */

ul,
ol {
    list-style: none;
}

/* Tables */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font: inherit;
}

/* Paragraph */

p {
    overflow-wrap: break-word;
}

/* Horizontal Rule */

hr {
    border: 0;
}

/* Text Selection */

::selection {
    background: transparent;
}

/* Hidden */

[hidden] {
    display: none !important;
}